[Unit]
Description=Gunicorn WSGI Runner
After=network.target

[Service]
User=user
WorkingDirectory=/home/user
ExecStart=/home/user/venv/bin/gunicorn --workers 5 --bind 0.0.0.0:8000 app:app
Restart=always

[Install]
WantedBy=multi-user.target
