<!DOCTYPE html>
<html lang="en">
<head>
    {% include '_head.html' %}
    <!-- page title -->
    <title>Eric's Garage</title>
</head>
<body class="bg-gray-50">
    <!-- centered container -->
    <div class="min-h-dvh flex justify-center">
        <!-- close sides -->
        <div class="w-md p-3">
            <!-- space out containers -->
            <div class="space-y-3">
                <!-- home text -->
                <div class="flex justify-center text-3xl font-semibold text-black">
                    Eric's Garage
                </div>
                <!-- alert -->
                {% include '_alert.html' %}
                <!-- buttons -->
                <a href="/hyundai" class="block w-full border border-black aspect-2/1 rounded-lg overflow-hidden">
                    <img src="{{ hyundai_url }}" alt="Hyundai Button" class="w-full h-full object-cover object-center scale-101">
                </a>
                <a href="/honda" class="block w-full border border-black aspect-2/1 rounded-lg overflow-hidden">
                    <img src="{{ honda_url }}" alt="Honda Button" class="w-full h-full object-cover object-center scale-101">
                </a>
                <a href="/porsche" class="block w-full border border-black aspect-2/1 rounded-lg overflow-hidden">
                    <img src="{{ porsche_url }}" alt="Porsche Button" class="w-full h-full object-cover object-center scale-101">
                </a>
            </div>
        </div>
    </div>
    <!-- drop alert after 5 seconds -->
    {% include '_drop_alert.html' %}
</body>
</html>