<!DOCTYPE html>
<html lang="en">
<head>
    {% include '_head.html' %}
    <!-- page title -->
    <title>IONIQ 5</title>
</head>
<body class="bg-gray-50">
    <!-- centered container -->
    <div class="min-h-dvh flex justify-center">
        <!-- close sides -->
        <div class="w-md p-3">
            <!-- space out containers -->
            <div class="space-y-3">
                <!-- logo -->
                <div class="flex flex-col items-center">
                    <div class="w-3xs">
                        <img src="{{ url_for('static', filename='logo/hyundai.svg') }}" alt="Logo">
                    </div>
                </div>
                <!-- alert -->
                {% include '_alert.html' %}
                <!-- car data -->
                {% include '_stats_table.html' %}
                <!-- log data -->
                <a href="{{ url_for('hyundai') }}" class="block text-center bg-blue-900 hover:bg-blue-950 text-lg text-white font-medium p-3 rounded-lg transition shadow-md hover:shadow-lg cursor-pointer">
                    Log Data
                </a>
                <!-- deep insights -->
                <a href="{{ url_for('hyundai') }}" class="block text-center bg-blue-900 hover:bg-blue-950 text-lg text-white font-medium p-3 rounded-lg transition shadow-md hover:shadow-lg cursor-pointer">
                    View Deep Insights
                </a>
            </div>
        </div>
    </div>
    <!-- drop alert after 5 seconds -->
    {% include '_drop_alert.html' %}
</body>
</html>