<!DOCTYPE html>
<html lang="en">
<head>
    {% include '_head.html' %}
    <!-- page title -->
    <title>Log In</title>
</head>
<body class="bg-gray-50">
    <!-- centered container -->
    <div class="min-h-dvh flex items-center justify-center">
        <!-- login container -->
        <div class="w-md p-3">
            <!-- login form -->
            <form method="POST" class="space-y-3">
                <!-- login text -->
                <div class="flex justify-center text-2xl font-semibold text-black">
                    Log In
                </div>
                <!-- alert -->
                {% include '_alert.html' %}
                <!-- username field -->
                <div>
                    <label for="username" class="block text-lg font-medium text-gray-700">
                        Username
                    </label>
                    <input id="username" name="username" type="text" required class="w-full p-3 border border-gray-300 rounded-lg transition">
                </div>
                <!-- password field -->
                <div>
                    <label for="password" class="block text-lg font-medium text-gray-700">
                        Password
                    </label>
                    <input id="password" name="password" type="password" required class="w-full p-3 border border-gray-300 rounded-lg transition">
                </div>
                <!-- submit button -->
                <button type="submit" class="w-full bg-blue-900 hover:bg-blue-950 text-lg text-white font-medium p-3 rounded-lg transition shadow-md hover:shadow-lg mt-3 cursor-pointer">
                    Login
                </button>
            </form>
        </div>
    </div>
</body>
</html>